.resume-grid {
    background-color: #E5E7E9;
    padding-top: 20px;
    padding-bottom: 20px ;
    padding-left: 20px;
    padding-right: 20px;
}
  
.resume-background {
    background-color: white;
}
  
.resume-left-column {
    padding: 10px !important;
}
  
.resume-avatar {
    margin-bottom: 0px;
    padding: 0px;
    height: 150px;
    width: 150px;
}

.resume-left-label {
    margin-top: 25px;
}
  
.resume-right-label {
    font-size: 30px;
    background-color: #FEF9E7;
    padding: 10px;
    margin-bottom: 15px;
}

.resume-left-section {
    background-color: #FEF9E7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%; 
}

.resume-right-col {
    background: white;
    color: black;
    padding-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
  
.resume-avatar-section {
    text-align: center;
}

.resume-name > h3 {
    margin-top: 10px;
    text-align: center;
    font-family: 'Vidaloka', sans-serif;
}

.education-content p {
    display: list-item;
}

.fa-resume-header {
    margin-right: 18px;
}

.github {
    color: #6f42c1;
}

.linkedin {
    color: #0e76a8;
}

.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    background: white;
    margin-bottom: 20px; 
}
  
.contact-grid h2 {
    font-family: 'Anton', sans-serif;
}
  
.contact-grid p {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.contact-grid hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}

.contact-list i {
    font-size: 20px;
    padding-right: 0.5rem;
}

.year-label {
    background-color: #E5E7E9;
    text-align: center;
    border-radius: 10px;
}

.job-name, .program-name{
    margin-top: 0px;
    font-weight: bold;
}

.company-name, .school-name{
    margin-top: 0px;
    color: grey;
}

@media screen and (max-width: 992px) {
    .resume-right-col {
        padding-left: 10px;
    }

    .fa-resume-header {
        font-size: 26px;
    }  
    
    .resume-name {
        font-size: 30px;
        background-color: #FEF9E7;
        padding: 10px;
        margin-bottom: 15px;
    }

    .resume-name > h3 {
        margin-top: 0px;
    }

    .resume-left-section {
        background-color: white;
        padding: 0px;
    }
}

@media screen and (max-width: 576px){
    .program-name, .job-name {
        font-size: 18px;
    }

    .school-name, .company-name {
        font-size: 14px;
    }

    .resume-right-label{
        font-size: 24px;
    }

    .resume-left-label {
        font-size: 20px;
    }
}

@media screen and (max-width: 330px){
    .resume-right-label{
        font-size: 20px;
    }
}
